
<form [formGroup]="itemForm" (ngSubmit)="addItem()">
    <div class="form-group">
      <label for="itemName">Name</label>
      <input type="text" class="form-control" id="itemName" formControlName="name">
    </div>
    <div class="error" *ngIf="ItemName.touched && ItemName.invalid">Name is required</div>
    <div class="form-group">
        <label for="itemAmount">Amount</label>
        <input type="text" class="form-control" id="itemAmount" formControlName="amount">
    </div>
    <div class="error" *ngIf="ItemAmount.touched && ItemAmount.invalid">Amount is required</div>
    <div class ="error" *ngIf="ItemAmount.touched && !isPositiveNumber(ItemAmount.value)">Invalid input</div>
    <div class="form-group">
        <label for="itemCode">Inventory Code</label>
        <input type="text" class="form-control" id="itemCode" formControlName="inventoryCode">
    </div>
    <div class="error" *ngIf="ItemCode.touched && ItemCode.invalid">Inventory Code is required</div>
    <button type="submit" [disabled]="ItemName.invalid || ItemAmount.invalid || ItemCode.invalid || !isPositiveNumber(ItemAmount.value)" style="margin: 20px" class="btn btn-primary">Add Item</button>
  </form>

